pubkey_path = "$HOME/.ssh/id_dsa.pub"

[servers]

  [servers.primary]
  ip = "33.33.33.10"
  port = "22"
  hostname = "vagrant.vm"
    [servers.primary.users.root]
    username = "root"
    password = "vagrant"
    [servers.primary.users.install]
    username = "admin"
    password = "vagrant"
    [servers.primary.users.personal]
    username = "steven"
    password = "vagrant"
    [servers.primary.users.app]
    username = "vagrant"
    password = "vagrant"

  [servers.errors]
  ip = "33.33.33.10"
  port = "22"
  hostname = "vagrant.vm"
    [servers.errors.users.install]
    username = "admin"
    password = "vagrant"
    [servers.errors.users.app]
    username = "vagrant"
    password = "vagrant"

# Add as many servers as you need Capistrano to work on
#  [servers.chef_server]
#  ip = "33.33.33.11"
#  port = "22"
#  hostname = "vagrant.vm"
#  user = "vagrant"
#  password = "vagrant"
#
#  [servers.logs]
#  ip = "33.33.33.12"
#  port = "22"
#  hostname = "vagrant.vm"
#  user = "vagrant"
#  password = "vagrant"
