pub_key_path = "$HOME/.ssh/id_dsa.pub"

[servers]

  [servers.primary]
  ip = "33.33.33.10"
  user = "vagrant"

# Add as many servers as you need Capistrano to work on
#  [servers.chef_server]
#  ip = "33.33.33.11"
#  user = "vagrant"
#
#  [servers.logs]
#  ip = "33.33.33.12"
#  user = "vagrant"
